@media screen and (min-width: 715px) and (max-width: 1023px){
    h1{
        font-size: 2em;
        margin-top: 1.2em;
    }

    #fotoPrincipalContainer img{
        height: 200px;
        width: 200px;
        object-fit: cover;
    }
}

@media only screen and (max-width: 400px){
    .container {
        width: 80%;
    }

    h1{
        font-size: 1.5em;
    }
    img{
        width: 70%;
        max-height: 150px !important;
        max-width: 150px !important;
    }
}
