@media screen and (min-width: 715px) and (max-width: 1023px){
    h1{
        font-size: 2em;
        margin-top: 1.2em;

    }
    #fotoPrincipalContainer{
        width: 80%;
        height: auto;
    }
    #fotoPrincipalContainer img{
        height: 300px;
        width: 300px;
        object-fit: cover;
    }
}

@media only screen and (max-width: 469px){
    .container {
        width: 80%;
    }

    h1{
        font-size: 1.5em;
    }
    img{
        max-height: 200px !important;
        max-width: 200px !important;
    }
}
